@media PRINT {
  #nota {
    display: none;
  }
  #pelanggan {
    display: none;
  }
  #judultransaksi {
    display: none;
  }
  #reset,
  #listpelanggan,
  #barang,
  #button,
  #perbarui,
  #cetak,
  #labelpelanggan,
  #hapus,
  #aksi,
  #keyword {
    display: none;
  }
  .fa.fa-search {
    display: none;
  }
}
